asgiref==3.7.2
cloudinary==1.36.0
crispy-bootstrap4==2023.1
dj-database-url==2.1.0
dj3-cloudinary-storage==0.0.6
Django==4.2.7
django-cloudinary-storage==0.3.0
django-crispy-forms==2.1
gunicorn==21.2.0
psycopg2-binary==2.9.9
sqlparse==0.4.4
