{% extends 'base.html' %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Login</h2>
            <h3 class="section-subheading text-muted">Access your account</h3>
        </div>

        <form method="post" class="form-login">
            {% csrf_token %}
            <div class="row justify-content-center">
                {{ form.as_p }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-xl text-uppercase">Login</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
