{% extends 'base.html' %}

{% block content %}

    <!-- Display Messages -->
    {% if messages %}
        <div class="container mt-4">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Reservations Section -->
    <section class="page-section">
        <div class="container mt-4">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Your Reservations</h2>
                <h3 class="section-subheading text-muted">Manage your cake reservations</h3>
                <!-- Order Now Button -->
                <a href="{% url 'new_reservation' %}" class="btn btn-primary btn-xl text-uppercase">Order Now</a>
            </div>

            <!-- Section for Cake Reservations -->
            <h2 class="section-subheading text-muted">Cake Reservations</h2>
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Cake Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Reservation Date</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td>{{ reservation.cake.name }}</td>
                        <td>{{ reservation.cake.price }}</td>
                        <td>{{ reservation.datetime|date:"d M Y H:i" }}</td>
                        <td>
                            <a href="{% url 'reservation_edit' reservation.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'reservation_delete' reservation.id %}" class="btn btn-danger btn-sm">Delete</a>
                             <!-- Link to Review Order if it exists -->
                             {% if reservation.order %}
                                <a href="{% url 'order_review' reservation.order.id %}" class="btn btn-primary btn-sm">Review Order</a>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4" class="text-center">No cake reservations found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock %}
