{% extends 'base.html' %}

{% block content %}
<section class="page-section">
    <div class="container">
        <h2 class="text-center">Review Your Order</h2>
        <div class="order-details">
            <!-- Display reservation details -->
            <p>Reservation for: {{ order.reservation.cake.name }}</p>
            <p>Reservation Date: {{ order.reservation.datetime|date:"d M Y H:i" }}</p>
            
        </div>
        <div class="text-center">
            <!-- Link to confirm or modify the order -->
            <a href="{% url 'confirm_order' order.id %}" class="btn btn-primary">Confirm Order</a>
        </div>
    </div>
</section>
{% endblock %}